body {
    font-family: Arial, Helvetica, sans-serif;
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

p {
    text-align: right;
    line-height: 3px; /* tamanho da altura de cada linha */
    letter-spacing: 3px; /* tamanho do espaço entre cada letra */
    word-spacing: 5px; /* tamanho do espaço entre cada palavra */
    text-indent: 30px; /* tamanho da margem da primeira linha do texto */
}

/*usando imagem no CSS e a imagem deve estar no mesmo diretorio
do arquivo CSS*/
h1 {
    background-image: url(sobre-background.jpg);
}